body {
    background: url("./table.png");
    background-repeat: no-repeat;
    background-size: cover;  
}
h1{
    color: goldenrod;
    font-size: 70px;
    text-align: center;
    font-weight: 900;
}
p{
    font-weight: 900;
    text-align: center;
    font-size: 20px;
}
#message-el{
    font-style: italic;
}
button{
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    font-size: larger;
    font-weight: 900;
    color: rgb(134, 115, 115);
    padding: 5px 30px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}